@media only screen and (max-width: 768px) {
  .bottomrow {
    display: flex;
    flex-direction: column !important;
    height: auto !important;
    margin-left: 10vw;
  }

  .home {
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }

  .left {
    height: auto !important;
    width: 100vw !important;
  }

  .expText{
    margin-top: 10vh !important;
    width: 100% !important;
    text-align: center !important;
  }

  .topRow{
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  input {
    width: 70% !important;
  }

  .listEle {
    width: 75% !important;
  }

  .right {
    height: auto !important;
    width: 100vw !important;
  }

  .totalRow{
    width: 40vw !important;
  }

  .button{
    width: 70% !important;
  }
}

.expText {
  font-size: 40px;
  letter-spacing: 0.3px;
  color: #ffffff;
  font: Roboto;
  align-self: flex-end;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 5vh;
}

.totText {
  align-self: flex-end;
  font-size: 25px;
  font: Roboto;
  letter-spacing: 0.18px;
  color: #ffffff;
  opacity: 1;
}

.listEle {
  height: 100px;
  width: 40vw;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

input {
  margin-bottom: 10px;
  width: 25vw;
  border: 1px solid white;
  background-color: transparent;
  padding: 15px;
  border-radius: 5px;
  color: white;
}

.nospanerr {
  margin-bottom: 10px;
  font-size: 12px;
  color: lightsalmon;
  visibility: collapse;
}

.spanerr {
  margin-bottom: 10px;
  font-size: 12px;
  color: lightsalmon;
  visibility: visible;
}

.err {
  margin-bottom: 0px;
  width: 25vw;
  border: 1px solid lightsalmon;
  background-color: transparent;
  padding: 15px;
  border-radius: 5px;
  color: white;
}

.date {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  color: grey;
  font-size: 12px;
}

.titleRow {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}

.title {
  height: 100%;
  display: flex;
  align-items: center;
  color: #6200ee;
}

.amount {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: black;
}

.note {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  color: grey;
  font-size: 13px;
}

.listEleCorner {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.listEleMain {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 22px;
}

.list {
  overflow-y: auto;
  overflow-x: hidden;
  height: 70vh;
  /*width: 40vw;*/
  scrollbar-width: none;
}

.button {
  background-color: #03dac5;
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  font-weight: bolder;
  margin-top: 5vh;
  cursor: pointer;
}

.right {
  width: 50vw;
  height: 70vw;
  padding-top: 10vh;
  padding-right: 10vw;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
}

.left {
  height: 70vh;
  width: 50vw;
}

.bottomrow {
  display: flex;
  flex-direction: row;
  height: 70vh;
  margin-left: 10vw;
}

.totalRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15vw;
  height: 20vh;
  align-items: center;
  margin-bottom: 5vh;
}

.topRow {
  display: flex;
  flex-direction: row;
  height: 25vh;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
  align-items: center;
  border-bottom: 1px solid white;
}

.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #6200ee;
}
