.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.expText {
  font-size: 40px;
  letter-spacing: 0.3px;
  color: #ffffff;
  font: Roboto;
  align-self: flex-end;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 1;
}

.totText {
  align-self: flex-end;
  font-size: 25px;
  font: Roboto;
  letter-spacing: 0.18px;
  color: #ffffff;
  opacity: 1;
}

.listEle{
  height: 100px;
  width: 40vw;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}